<div class="mat-elevation-z4 signin-container">
  <h2>Signin</h2>
  <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <input matInput type="text" formControlName="mail" required />
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" required />
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="!signinForm.valid">Signin</button>
  </form>
</div>
